.ipynb_checkpoints/
.idea/
*.npy
fortran/build
fortran/cmake-build-debug
c/build
c/cmake-build-debug
test.sqlite
sample_mmap
__pycache__
venv
.terraform
Spark/data/*.json
**/scala/.bsp/
**/scala/project/target/
**/scala/project/project/
**/scala/target/